.contact {
  text-align: center;
  background-color: #001524;
  min-height: 50vh;
  padding-top: 30px;
  &_topText {
    margin: 3% auto 5%;
    font-size: 45px;
    & > span {
      color: #ff7f5f;
    }
  }
  &_container {
    text-align: left;
  }
  &_form {
    padding: 15px;
    border: 2px solid #ff7f5f;
    margin: 30px auto 18vh;
    border-radius: 15px;
    font-weight: 600;
    background-color: #0d2938;
  }
  &_button {
    display: inline-block;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid #ff7f5f;
    border-radius: 7px;
    font-weight: 800;
  }
}
.success_msg {
  padding: 10px 15px;
  color: green;
}
.err_msg {
  color: red;
  padding: 10px 15px;
}

.footer {
  padding-top: 40px;
  // border: 3px solid #ff7f5f;

  &_icon {
    width: 50px;
    height: 50px;
  }

  &_copyrights {
    padding: 20px 0;
  }
}
