.navbar {
  position: fixed !important;
  margin: 0 auto;
  width: 100%;
  left: 0px;
  right: 0;
  top: 0px;
  color: white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  &_menu {
    width: 100%;
    flex-direction: row-reverse;

    & ul li {
      cursor: pointer;
      text-align: right;
    }
  }
  &-brand {
    font-weight: 500;
  }
}
.nav-item {
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
}
