@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import "./styles/Header.scss";
@import "./styles/Navbar.scss";
@import "./styles/Main.scss";
@import "./styles/About.scss";
@import "./styles/Contact.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  background-color: #0d2938;
}
.app {
  color: white;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.active {
  color: #ff7f5f;
}
.active:hover {
  text-decoration: none;
  color: #ff7f5f;
}
